
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Api.dll
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Api.exe
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Api.pdb
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Models.dll
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Models.pdb
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Services.dll
LibrarySystem.Api/bin/Debug/net8.0/LibrarySystem.Services.pdb
LibrarySystem.Api/obj/Debug/net8.0/apphost.exe
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.AssemblyInfo.cs
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.AssemblyInfoInputs.cache
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.assets.cache
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.csproj.AssemblyReference.cache
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.csproj.CoreCompileInputs.cache
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.csproj.FileListAbsolute.txt
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.dll
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.GeneratedMSBuildEditorConfig.editorconfig
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.genruntimeconfig.cache
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.pdb
LibrarySystem.Api/obj/Debug/net8.0/LibrarySystem.Api.sourcelink.json
LibrarySystem.Api/obj/Debug/net8.0/ref/LibrarySystem.Api.dll
LibrarySystem.Api/obj/Debug/net8.0/refint/LibrarySystem.Api.dll
LibrarySystem.Api/obj/LibrarySystem.Api.csproj.nuget.dgspec.json
LibrarySystem.Api/obj/project.assets.json
LibrarySystem.Api/obj/project.nuget.cache
LibrarySystem.Models/bin/Debug/net8.0/LibrarySystem.Models.dll
LibrarySystem.Models/bin/Debug/net8.0/LibrarySystem.Models.pdb
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.AssemblyInfo.cs
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.AssemblyInfoInputs.cache
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.assets.cache
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.csproj.FileListAbsolute.txt
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.dll
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.GeneratedMSBuildEditorConfig.editorconfig
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.genruntimeconfig.cache
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.pdb
LibrarySystem.Models/obj/Debug/net8.0/LibrarySystem.Models.sourcelink.json
LibrarySystem.Models/obj/Debug/net8.0/ref/LibrarySystem.Models.dll
LibrarySystem.Models/obj/Debug/net8.0/refint/LibrarySystem.Models.dll
LibrarySystem.Models/obj/LibrarySystem.Models.csproj.nuget.dgspec.json
LibrarySystem.Models/obj/project.assets.json
LibrarySystem.Models/obj/project.nuget.cache
LibrarySystem.Services/bin/Debug/net8.0/LibrarySystem.Models.dll
LibrarySystem.Services/bin/Debug/net8.0/LibrarySystem.Models.pdb
LibrarySystem.Services/bin/Debug/net8.0/LibrarySystem.Services.dll
LibrarySystem.Services/bin/Debug/net8.0/LibrarySystem.Services.pdb
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.AssemblyInfo.cs
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.AssemblyInfoInputs.cache
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.assets.cache
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.csproj.AssemblyReference.cache
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.csproj.CoreCompileInputs.cache
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.csproj.FileListAbsolute.txt
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.dll
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.GeneratedMSBuildEditorConfig.editorconfig
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.pdb
LibrarySystem.Services/obj/Debug/net8.0/LibrarySystem.Services.sourcelink.json
LibrarySystem.Services/obj/Debug/net8.0/ref/LibrarySystem.Services.dll
LibrarySystem.Services/obj/Debug/net8.0/refint/LibrarySystem.Services.dll
LibrarySystem.Services/obj/LibrarySystem.Services.csproj.nuget.dgspec.json
LibrarySystem.Services/obj/project.assets.json
LibrarySystem.Services/obj/project.nuget.cache
